In [229]:
import csv
import pandas as pd

In [230]:
import os
def diriter(root_dir, extension):
    ''' grab files from root/sub dirs having extension
    '''
    return ((f, os.path.join(root, f))
            for root, dirs, files in os.walk(root_dir)
            for f in files if f.endswith(extension))

In [231]:

def make_tokens(filepath, delim=','):
    ''' split csv file into list of token lists
    '''
    return [line for line in csv.reader(open(filepath))]


def find_headers(lines):
    ''' find poition of headers in file
    '''
    return [i for i, line in enumerate(lines)
            if line[0].strip() == 'Header='] + [0]

def make_lists(hpos, lines):
    ''' split lists of tokens by header
    '''
    n, k = len(hpos), len(lines)
    return [lines[hpos[i]:(k - 1 - hpos[i + 1])]
            for i in range(n - 1)]
    
def make_dataframes(lines):
    ''' make data frame from lists of list of tokens
    '''
    return [pd.DataFrame(line[1:], columns=line[0])
           for line in lines]


def cbind_dataframes(dfs):
    ''' column bind dfs and drop dup columns
    '''
    
    df = (pd.concat([df for df in dfs], axis=1)
            .drop(['Header=', 'R.T.', 'Area Pct', 'Peak'], axis=1))
    df.columns = [col.replace('/', '_').replace(' ', '_').lower()
                  for col in df.columns]
    return df

In [232]:
file_path = 'data/FA03.D/RESULTS.CSV'

In [233]:
tokens = make_tokens(file_path)

In [234]:
tokens[:10]

[['[contents]'],
 ['count=2'],
 ['Name=', 'C:\\HANNA AUCOIN\\2016.05.13\\FA03.D'],
 ['1=', 'INT TIC: FA03.D\\data.ms'],
 ['2=', 'PBM Apex'],
 ['[INT TIC: FA03.D\\data.ms]'],
 ['Time=', 'Fri May 13 13:03:08 2016'],
 ['Header=',
  'Peak',
  'R.T.',
  'First',
  'Max',
  'Last',
  'PK  TY',
  'Height',
  'Area',
  'Pct Max',
  'Pct Total'],
 ['1=',
  '  1',
  '  5.788',
  '  465',
  ' 473',
  ' 494',
  'rBV3',
  ' 257808',
  '  1489466',
  ' 13.12',
  '  2.034'],
 ['2=',
  '  2',
  '  7.344',
  '  733',
  ' 745',
  ' 812',
  'rBV ',
  ' 964743',
  '  2491449',
  ' 21.94',
  '  3.401']]

In [235]:
hposition = find_headers(tokens)

In [236]:
hposition

[7, 38, 0]

In [237]:
token_lists = make_lists(hposition, tokens)

In [238]:
dfs = make_dataframes(token_lists)

In [239]:
dfs[0].head()

,Header=,Peak,R.T.,First,Max,Last,PK TY,Height,Area,Pct Max,Pct Total
0,1=,1,5.788,465,473,494,rBV3,257808,1489466,13.12,2.034
1,2=,2,7.344,733,745,812,rBV,964743,2491449,21.94,3.401
2,3=,3,8.036,859,866,904,rBV,608418,1277982,11.25,1.745
3,4=,4,8.672,970,977,1017,rBV,1929049,2905961,25.59,3.967
4,5=,5,9.278,1077,1083,1116,rBV,882521,1436154,12.65,1.961

In [ ]:
dfs[1].head()

In [ ]:
final = cbind_dataframes(dfs)

In [ ]:
final.head()

,first,max,last,pk__ty,height,area,pct_max,pct_total,pk,rt,library_id,ref,cas,qual
0,465,473,494,rBV3,257808,1489466,13.12,2.034,1,5.7877,Methyl octanoate,17,000000-00-0,96
1,733,745,812,rBV,964743,2491449,21.94,3.401,2,7.3441,Methyl decanoate,1,000000-00-0,98
2,859,866,904,rBV,608418,1277982,11.25,1.745,3,8.0364,Methyl undecanoate,2,000000-00-0,98
3,970,977,1017,rBV,1929049,2905961,25.59,3.967,4,8.6715,Methyl dodecanoate,3,000000-00-0,98
4,1077,1083,1116,rBV,882521,1436154,12.65,1.961,5,9.2781,Methyl tridecanoate,4,000000-00-0,99
5,1168,1173,1179,rBV,1075433,1379404,12.15,1.883,6,9.7930,Methyl myristoleic acid,5,000000-00-0,99
6,1179,1183,1220,rVB,2474155,3443757,30.32,4.702,7,9.8503,Methyl myristate,6,000000-00-0,99
7,1267,1272,1278,rBV,1073796,1449016,12.76,1.978,8,10.3595,cis-10-Pentadecenoic acid methyl ester,7,000000-00-0,99
8,1278,1282,1315,rVB,1116633,1821171,16.04,2.486,9,10.4168,Methyl myristate,6,000000-00-0,83
9,1363,1372,1386,rBV,1047443,1571132,13.83,2.145,10,10.9317,Methyl palmitoleate,9,000000-00-0,99
10,1386,1392,1431,rVB,3607013,5489579,48.34,7.495,11,11.0462,Methyl palmitate,10,000000-00-0,97
11,1478,1486,1500,rBV,1066289,1605355,14.14,2.192,12,11.5840,cis-10-Heptadecenoic acid methyl ester,11,000000-00-0,99
12,1500,1505,1533,rVB,854076,1401681,12.34,1.914,13,11.6928,Methyl heptadecanoate,12,000000-00-0,99
13,1565,1570,1580,rBV,1063352,1456720,12.83,1.989,14,12.0647,"Methyl cis-8,11,14-eicosatrienoate",22,000000-00-0,58
14,1580,1590,1607,rVV2,4224561,11356919,100.00,15.505,15,12.1791,Methyl linoleate,34,000000-00-0,99
15,1607,1612,1647,rVB,2694998,4171988,36.74,5.696,16,12.3050,Methyl stearate,19,000000-00-0,98
16,1749,1754,1758,rBV,1133297,1390417,12.24,1.898,17,13.1175,Methyl arachidonate,20,000000-00-0,99
17,1758,1761,1765,rBV,960375,1128019,9.93,1.540,18,13.1576,"Methyl cis-5,8,11,14,17-Eicosopentaenoate",21,000000-00-0,95
18,1765,1768,1779,rVB,1194855,1721953,15.16,2.351,19,13.1976,"Methyl cis-8,11,14-eicosatrienoate",22,000000-00-0,95
19,1779,1786,1789,rBV2,1821678,3810380,33.55,5.202,20,13.3006,Methyl cis-11-eicosenoate,23,000000-00-0,99
20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,21,13.4208,Methyl arachidate,25,000000-00-0,99
21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,22,13.9186,Methyl heneicosanoate,26,000000-00-0,99
22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,23,14.1074,"All cis-4,7,10,13,16,19-docosahexaenoate methy...",27,000000-00-0,95
23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,24,14.2848,Methyl erucate,28,000000-00-0,99
24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,25,14.3878,Methyl docosanoate,29,000000-00-0,99
25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,26,14.8284,Methyl tricosanoate,30,000000-00-0,99
26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,27,15.1603,Methyl nervonate,31,000000-00-0,99