## Reading Agilent Data Files with `chemtbd`

The interface _will_ change so that things are more easily accessible ... aka less nested.  However, basic functionality is in place.  To import the Agilent reader model, run the following:

> __NOTE__: Until we actually give `chemtbd` a name and structure it as a package, the below will only work if you're current working directory contains the `chemtbd` folder.

In [1]:
from chemtbd.agilent import agilent_reader

The `agilent_reader` module contains an object for reading Agilent directories named `Agilent`.  Use it as follows:

In [2]:
agi = agilent_reader.Agilent('data/test3/FA13.D')

The `Agilent` object loads data lazily, so nothing has actually happened yet.  When we ask it for data, it will read the data from disk, structure it as a pandas DataFrame, store it in a cache and finally return it.  The next time we ask for the same data, the DataFrame is loaded from the cache.

Currently there are two data access methods:
- `results` - returns `tic`, `fid`, and `lib` tables from `RESULTS.csv`
- `raw` - returns `tic` and `tme` series from `DATA.MS`

Let's read in the `raw` data:

In [3]:
raw = agi.raw()
raw.head()

      tic_ms    tme_ms
0  3213002.0  3.086750
1  2360959.0  3.092483
2  1791725.0  3.098200
3  1451932.0  3.103917
4  1223875.0  3.109650

The process is similar for `results`:

> __NOTE__: The below will __not__ work on the original original test data containing dummy `fid` tables.  This is because the those data contain extra empty columns that are not part of a machine generated file.  I have created new `fid` test data that does not contain the additional empty columns.

In [13]:
results = agi.results
results.data.head()

,tic_header=,tic_peak,tic_rt,tic_first,tic_max,tic_last,tic_pk_ty,tic_height,tic_area,tic_pct_max,...,fid_header=,fid_peak,fid_rt,fid_first,fid_end,fid_pk_ty,fid_height,fid_area,fid_pct_max,fid_pct_total
0,1=,1,9.867,1174,1186,1219,rVB,88219,251790,4.16,...,1=,1,11.64306,11.060907,12.225213,M,882190,2517900,1,1.732
1,2=,2,10.829,1349,1354,1364,rVV,956983,1330700,22.00,...,2=,2,12.99480,12.345060,13.644540,M,9569830,13307000,2,9.154
2,3=,3,10.932,1364,1372,1386,rVV,1266157,1966188,32.50,...,3=,3,11.58792,11.008524,12.167316,M,12661570,19661880,3,13.526
3,4=,4,11.046,1386,1392,1419,rVB,4142556,6048885,100.00,...,4=,4,11.92968,11.333196,12.526164,M,41425560,60488850,4,41.611
4,5=,5,11.344,1438,1444,1459,rBV,117494,191196,3.16,...,5=,5,12.02464,11.423408,12.625872,M,1174940,1911960,5,1.315

In [10]:
results.fid.head()

,fid_header=,fid_peak,fid_rt,fid_first,fid_end,fid_pk_ty,fid_height,fid_area,fid_pct_max,fid_pct_total
0,1=,1,11.64306,11.060907,12.225213,M,882190,2517900,1,1.732
1,2=,2,12.99480,12.345060,13.644540,M,9569830,13307000,2,9.154
2,3=,3,11.58792,11.008524,12.167316,M,12661570,19661880,3,13.526
3,4=,4,11.92968,11.333196,12.526164,M,41425560,60488850,4,41.611
4,5=,5,12.02464,11.423408,12.625872,M,1174940,1911960,5,1.315

In [11]:
results.tic.head()

,tic_header=,tic_peak,tic_rt,tic_first,tic_max,tic_last,tic_pk_ty,tic_height,tic_area,tic_pct_max,tic_pct_total
0,1=,1,9.867,1174,1186,1219,rVB,88219,251790,4.16,1.732
1,2=,2,10.829,1349,1354,1364,rVV,956983,1330700,22.00,9.154
2,3=,3,10.932,1364,1372,1386,rVV,1266157,1966188,32.50,13.526
3,4=,4,11.046,1386,1392,1419,rVB,4142556,6048885,100.00,41.611
4,5=,5,11.344,1438,1444,1459,rBV,117494,191196,3.16,1.315

In [12]:
results.lib.head()

,lib_header=,lib_pk,lib_rt,lib_pct_area,lib_library_id,lib_ref,lib_cas,lib_qual
0,1=,1.0,9.8673,1.7321,Methyl myristate,6.0,000000-00-0,97.0
1,2=,3.0,10.9316,13.5256,Methyl palmitoleate,9.0,000000-00-0,99.0
2,3=,4.0,11.0460,41.6107,Methyl palmitate,10.0,000000-00-0,97.0
3,4=,7.0,12.1732,29.3428,cis-9-Oleic methyl ester,33.0,000000-00-0,94.0
4,5=,8.0,12.3220,1.5754,Methyl stearate,19.0,000000-00-0,98.0